
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONT FACE */

@font-face {
	font-family: 'Source Sans Pro';
	src: url(Assets/fonts/SourceSansPro-Regular.otf);
}

:root {
	--primary:#FF6565;
	margin: 0;
	padding: 0;
}


header {
	width: 100%;
	min-height: 100vh;
	background-image: url(Assets/Images/headphones_hero_1.jpg);
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

nav {

	display: flex;
	width: 80%;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	Justify-content: flex-end;
	align-items: center;
}

nav a {

	margin-right: auto;
}
nav img {
width: 10em;
height: 2em;

}

.navlinks ul li {
	list-style: none;
	display: inline-block;
	color: #FFF;
	padding: 1em 1em;
	font-family: 'Source Sans Pro';
	font-size: 0.8em;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}

.navlinks ul li a {
	text-decoration: none;
	color: #FFF
}

.navlinks ul li a:hover {

    color: var(--primary);
}


.banner {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding-top: 15%;
	padding-bottom: 7%;
	margin: auto;
	/* width: 6%;
	height: 313px; */
	flex-shrink: 0;
}

.banner h1{
	font-size: 1.5em;
	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.banner h4 {

	padding: 1em;
	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.banner input {
	width: 9%;
	height: 3em;
	flex-shrink: 0;
	border-radius: 22px;
	background: #FF6565;
}

.banner input:active {

	opacity: 0.9
}

.banner p {
	
	padding: 2% 30% 2% 30%;
	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5em
}

nav .fa {

	display: none;

}


@media screen and (max-width:480px) {


header {
	overflow-x: hidden;
	background-position: 40%;
	background-repeat: no-repeat;
}

nav {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

nav a {

	margin: auto;
}

.navlinks ul li {
	display: block;
	padding: 0%;
}

.navlinks ul li a {
	display: inline-block;
	padding: 0%;
};

.banner {

	margin: 3em 1.5em;
	padding: 15% 5% 7% 5%;
}
	
.banner h1 {

	font-size: 2em;
}

.banner h4 {

	font-size: 1em;
	padding: 0.5em;
}

.banner input {

	width: 9em;
	margin: 4% 0%;
}

.banner p {

	padding: 5% 0%;
	line-height: 1.5em;
	text-align: center;
}

nav .fa {

	display: inline;
	color: #FFF;
	cursor: pointer;
	font-size: 2em;
	margin-right: auto;

}

}