
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONT FACE */

@font-face {
	font-family: 'Source Sans Pro';
	src: url(Assets/fonts/SourceSansPro-Regular.otf);
}

:root {
	--primary:#FF6565;
}

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	min-height: 100vh;
	background-image: url(Assets/Images/headphones_hero_1.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
}

nav {

	display: flex;
	padding: 27.8px 199px 0 201px;
	justify-content: space-between;
	align-items: center;
}

nav img {

width: 160.962px;
height: 31.18px;

}

.navlinks ul li {
	list-style: none;
	display: inline-block;
	color: #FFF;
	padding: 8px 12px;
	font-family: 'Source Sans Pro';
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}

.navlinks ul li a {
	text-decoration: none;
	color: #FFF
}

.navlinks ul li a:hover {

    color: var(--primary);
}


.banner {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding-top: 371px;
	padding-bottom: 115px;
	margin: auto;
	width: 637px;
	height: 313px;
	flex-shrink: 0;
}

.banner h1{
	width: 578px;
	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.banner h4 {
	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.banner input {
	margin: auto;
	width: 162px;
	height: 44px;
	flex-shrink: 0;
	border-radius: 22px;
	background: #FF6565;
}

.banner p {

	color: #FFF;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 162.5% */
}

@media (max-width:804px) {


	header {

		background-position: center;
		background-size: cover;

	}

	nav {
		display: flex;

		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


}


@media screen and (max-width:480px) {

	
	header {
		display: flex;
		background-position: center;
		background-size: cover;
		position: relative;
		overflow-x: hidden;

	}

	.navlinks ul li {
		display: block;
	}

	.navlinks ul li a {
		position: absolute;
	}

	nav {

		/* width: 247px; */
		margin: auto;
		height: auto;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.banner {

		/* width: 357px;
		height: 436px; */
		padding: 327px 9px 106px 9px;
		flex-shrink: 0;
	}

	.banner h1 {

		/* width: 357px; */

color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
	}


	.banner h4  {
		/* width: 279px; */

		color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
	}

	.banner-input {

/* width: 162px;
height: 44px; */
border-radius: 22px;
background: #FF6565;

	}

	.banner p {

		/* width: 335px; */
		color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
	}
}